<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
       <% if message.include? "has already been taken" %>
        <% end_index = message.index("has already been taken") %>
        <% linked_to = message[0..end_index-2] %>
         <li><%= "You already have Library Card linked to your #{linked_to}, please get a duplicate card from the library" %></li>    
       <% else  %>
         <li><%= message %></li>
       <% end  %>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= form.label "E-mail address *" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label "First Name *" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label "Last Name" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label "Date of Birth *" %>
    <%= date_select "dob", "dob", { start_year: 60.years.ago.year, end_year: Date.today.year, default: Date.today} %>
  </div>

  <div class="field">
    <%= form.label "Identity Number" %>
    <%= form.text_field :identity_number %>
  </div>


  <div class="field">
    <%= form.label "State *" %>
    <% arr = %w(Alaska Alabama Arkansas American\ Samoa Arizona California Colorado Connecticut District\ of\ Columbia Delaware Florida Georgia Guam Hawaii Iowa Idaho Illinois Indiana Kansas Kentucky Louisiana Massachusetts Maryland Maine Michigan Minnesota Missouri Mississippi Montana North\ Carolina North\ Dakota Nebraska New\ Hampshire New\ Jersey New\ Mexico Nevada New\ York Ohio Oklahoma Oregon Pennsylvania Puerto\ Rico Rhode\ Island South\ Carolina South\ Dakota Tennessee Texas Utah Virginia Virgin\ Islands Vermont Washington Wisconsin West\ Virginia Wyoming) %>
    <%= form.select :state, arr %>
  </div>


  <div class="field">
    <%= form.label "Home Street Address *" %>
    <%= form.text_field :home_address %>
  </div>

  <div class="field">
    <%= form.label "Apt/Unit Number" %>
    <%= form.text_field :unit_number %>
 </div>


  <div class="field">
    <%= form.label "City * " %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label "Zip * " %>
    <%= form.text_field :zip %>
  </div>

  <div class="field">
    <%= form.label "Phone Number * " %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="actions">
    <%= form.submit "SUBMIT YOUR APPLICATION"%>
  </div>
<% end %>
