<%status||="Pending"%>

<div class="container py-5">
  <div class="row">
    <div class="col-5">
      <h3 class=" font-grey">LIST OF APPLICATIONS</h3>
    </div>
    <div class="col-4 offset-md-3">
      
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-6 col-form-label">Application Status</label>
        <div class="col-sm-6">
          <select class="form-control application_status_select">
            <option value="pending" <%= 'selected' if @status == 'pending' %>  > Pending </option>
            <option value="approved" <%= 'selected' if @status == 'approved' %>>Approved</option>
            <option value="rejected" <%= 'selected' if @status == 'rejected' %>>Rejected</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal_id_proof" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="width: 150%; left: -30%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <img id="disply_image" src="" style="width:100%;" alt="ID Proof"/>
        </div>
        <div class="modal-footer">
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="property_or_school_proof" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="width: 150%; left: -30%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <img id="disply_image_for_qualified" src="" style="width:100%;" alt="Property or School ID Proof"/>
        </div>
        <div class="modal-footer">
        </div>
      </div>
      
    </div>
  </div>


<div class="container">
  <div class="row align-items-center">
    <div class="col-12 white-container">
      <table class="table table-striped">
        <thead class="bg-grey">
          <tr>
            <th align="left" valign="middle" >Name</th>
            <th  align="left" valign="middle" >Mobile #</th>
            <th  align="left" valign="middle" >Email</th>
            <th  align="left" valign="middle" >Card Type</th>
            <th  align="center" valign="middle" >Resident</th>
            <th  align="center" valign="middle" >ID Proof</th>
            <th  align="center" valign="middle">Qualified</th>
            <th>
            </th>
            <th>
            </th>
            
          </tr>
        </thead>
      <tbody>
        <% @users.each do |user| %>
      <tr>
        <% full_name = user.first_name+" "+user.last_name%>
        <td><%= full_name %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.email %></td>
        
        
          <td><%= user.library_card_type %></td>
        
        <%if user.is_local || user.is_local.nil?%>
          <td><img src="<%= asset_path 'Resident-Green.png'%>"></td>
          <td><img src="<%= asset_path 'View.png' %>" data-toggle="modal" data-target="#myModal_id_proof" onclick="$('#disply_image').attr('src','<%=user.identity_number.url%>')"></td>
          <td></td>
        <%else%>
          <%if user.has_property || user.in_school%>
            <td><img src="<%= asset_path 'nonlocal.png' %>"></td>
          <td><img src="<%= asset_path 'View.png' %>" data-toggle="modal" data-target="#myModal_id_proof" onclick="$('#disply_image').attr('src','<%=user.identity_number.url%>')"></td>
          <td><img src="<%= asset_path 'yellowview.png' %>" data-toggle="modal" data-target="#property_or_school_proof" onclick="$('#disply_image_for_qualified').attr('src','<%=user.address_proof.url%>')"></td>
          <%else%>
            <td><img src="<%= asset_path 'nonlocal.png' %>"></td>
          <td><img src="<%= asset_path 'View.png' %>" data-toggle="modal" data-target="#myModal_id_proof" onclick="$('#disply_image').attr('src','<%=user.identity_number.url%>')"></td>
          <td></td>
          <%end%>
        <%end%>
        
        <td><%= link_to approve_user_path(email: user.email) do %> 
            <img src="<%= asset_path 'Tick1.png' %>">
            <% end %>
          </td>

        <td><%= link_to reject_user_path(email: user.email) do %>  
          <img src="<%= asset_path 'Cross.png' %>">
          <% end %>
        </td>  


      </tr>
    <% end %>

      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.application_status_select').on('change', function(){
      if($(this).val() == 'pending'){
        window.location.href =  '/users'
      }
      else
      {
              window.location.href = "/users/" + $(this).val() + '_users_list'

      }
    })
  })

</script>