<div class="container py-5">
  <div class="row">
    <div class="col-5">
      <h3 class=" font-grey">LIST OF APPLICATIONS</h3>
    </div>
    <div class="col-4 offset-md-3">
      
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-6 col-form-label">Application Status</label>
        <div class="col-sm-6">
          <select class="form-control">
            <option >Pending</option>
            <option >Approved</option>
            <option >Rejected</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal_id_proof" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="width: 200%; left: -40%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <img id="disply_image" src="" style="width:100%;" alt="ID Proof"/>
        </div>
        <div class="modal-footer">
        </div>
      </div>
      
    </div>
  </div>
<div class="container">
  <div class="row align-items-center">
    <div class="col-12 white-container">
      <table class="table table-striped">
        <thead class="bg-grey">
          <tr>
            <th align="left" valign="middle" >Name</th>
            <th  align="left" valign="middle" >Mobile #</th>
            <th  align="left" valign="middle" >Email</th>
            <th  align="left" valign="middle" >Card Type</th>
            <th  align="center" valign="middle" >Resident</th>
            <th  align="center" valign="middle" >ID Proof</th>
            <th  align="center" valign="middle">Qualified</th>
            <th>
            </th>
            <th>
            </th>
            
          </tr>
        </thead>
      <tbody>
        <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.phone_number %></td>
        <td><%= user.email %></td>
        <td><%= "physical" %></td>
        <td><img src="<%= asset_path 'Resident-Green.png' %>"></td>
        <td><img src="<%= asset_path 'View.png' %>" data-toggle="modal" data-target="#myModal_id_proof" onclick="$('#disply_image').attr('src','<%=user.identity_number.url%>')"></td>
        <td><img src="<%= asset_path 'Qualified.png' %>"></td>
        <td><%= link_to approve_user_path(email: user.email) do %> 
            <img src="<%= asset_path 'Tick1.png' %>">
            <% end %>
          </td>

        <td><%= link_to reject_user_path(email: user.email) do %>  
          <img src="<%= asset_path 'Cross.png' %>">
          <% end %>
        </td>  


      </tr>
    <% end %>

      </tbody>
    </table>
  </div>
</div>
