<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'stylesheet' %>
  </head>

  <body>
    <%= render "shared/page_header.html.erb"%>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 offset-md-3 py-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
